fastapi
uvicorn
streamlit
requests

langchain
langchain-community
langchain-text-splitters

chromadb

sentence-transformers
torch
transformers

pypdf
python-docx

python-dotenv
python-multipart

numpy
pandas

groq